.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.form-group label {
    width: 120px;
}

.centered {
    display: flex;
}

.inputs {
    width: 240px;
}

.columned {
    flex-direction: column;
}

.centered-btn {
    margin-left: 120px;
}

.languages {
    margin-bottom: 23px;
}

.language-icon {
    width: 20px;
    height: 20px;
}