.math-form {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    justify-content: flex-start;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mg-labels {
    margin-right: 70px;
}

.submit-btn {
    width: 110px;
}